@model LoginViewModel
@{
    ViewBag.Title = "登录";
}
<link href="~/Content/account/signin.css" rel="stylesheet" />

<div class="container">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" , autofocus = true})
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label style="padding:0;margin:0">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "text-center" })
                </label>
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
             </div>
         </div>
        <div class="form-group">
            <div class="col-md-10">
                <p>@Html.ActionLink("注册为新用户", "Register")</p>
            </div>
        </div>
    }
</div>